<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" >
</head>

<body background="http://wallpaperstock.net/image-pattern_wallpapers_4222_1920x1200.jpg">
    
    <div class="container">
    <h1><%= title %></h1>
    <% if ( user ) { %>
	<h2>Hello <%=user%> </h2>
	<form action="/logout">
	    <input type="submit" value="Logout">
	</form>
    <% } else { %>
	<form action="/register">
	    <input type="submit" value="Register">
	</form>
	<form action="/login">
	    <input type="submit" value="Login">
	</form>
    <% } %>

    <div ng-app="" ng-controller="imageController">

    <button ng-click="toggle(); id = id + 1">Next</button>

    <p ng-show="myVar">
	<img ng-src="{{imageFilepath}}">
    </p>
    </div>

    <script>
	function imageController($scope) {
	    $scope.id = "1",
	    $scope.imageFilepath = "img/page1.jpg",
	    $scope.myVar = false;
	    $scope.toggle = function() {
		$scope.myVar = !$scope.myVar;
	    };
	}
    </script>
    </div>
</body>
</html>
