.jumbotron{
  height:100px;
  background:url"/assets/blue.jpg";
}

.jumbotron h1{
  font-size:20px;
  padding: 10px;
  border: 3px;
}

.update {
  display: block;
  padding: 40px;
  margin: 0px auto;
}